In [5]:
d={'name':"meena",'roll':12,"college":'vrsec'}

In [6]:
d

{'name': 'meena', 'roll': 12, 'college': 'vrsec'}

In [7]:
d['name']

'meena'

In [8]:
d['name']="sai"    #Updating dictionary value

In [9]:
d['name']

'sai'

In [10]:
d

{'name': 'sai', 'roll': 12, 'college': 'vrsec'}

In [11]:
d['age']=20   #if key is not present in dictionary ,it will create that key and value pair in dictionary

In [12]:
d

{'name': 'sai', 'roll': 12, 'college': 'vrsec', 'age': 20}

In [13]:
dir(dict)

['__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [14]:
help(dict.setdefault)

Help on method_descriptor:

setdefault(self, key, default=None, /)
    Insert key with a value of default if key is not in the dictionary.

    Return the value for key if key is in the dictionary, else default.

In [15]:
d.setdefault('marks',72)

72

In [16]:
d

{'name': 'sai', 'roll': 12, 'college': 'vrsec', 'age': 20, 'marks': 72}

In [17]:
d.setdefault('marks',99)

72

In [18]:
d

{'name': 'sai', 'roll': 12, 'college': 'vrsec', 'age': 20, 'marks': 72}

In [19]:
d.setdefault('marks',99)

72

In [20]:
d['marks']=100

In [21]:
d

{'name': 'sai', 'roll': 12, 'college': 'vrsec', 'age': 20, 'marks': 100}

In [22]:
d1={'names':['mee','sai','rama'],'roll':[1,2,3]}

In [23]:
d1

{'names': ['mee', 'sai', 'rama'], 'roll': [1, 2, 3]}

In [24]:
d1['names']

['mee', 'sai', 'rama']

In [25]:
d1['names'][1]

'sai'

In [26]:
 d1.keys()

dict_keys(['names', 'roll'])

In [27]:
d1.values()

dict_values([['mee', 'sai', 'rama'], [1, 2, 3]])

In [28]:
len(d1)

2

In [29]:
le=len(d1['names'])
s=list(d1.values())
#print(s[0])
#print(s[1])

for i in range(len(d1['names'])):
    
    print("student"+str(i+1),d1['names'][i],d1['roll'][i])

student1 mee 1
student2 sai 2
student3 rama 3

In [30]:
l=[0,9,8]
len(l)

3

In [31]:
names=d1['names']
#print(names[0])
for i in range(len(names)):
    print(i,names[i])

0 mee
1 sai
2 rama

In [32]:
for i,v in enumerate(names,start=1):   #enumerate
    print(i,v)

1 mee
2 sai
3 rama

In [33]:
marks={}.fromkeys(names,55)
marks

{'mee': 55, 'sai': 55, 'rama': 55}

In [34]:
d1={'names':['mee','sai','rama','meena'],'roll':[1,2,3,4]}
d1

{'names': ['mee', 'sai', 'rama', 'meena'], 'roll': [1, 2, 3, 4]}

In [36]:
dd="sunil 55 65 anil abdul 78"    (****)
dl=dd.split()
n=[]
s=[]
for i in range(len(dl)):
    if dl[i].startswith('0|1|2|3|4|5|6|7|8|9')==True:
        n.append(dl[i])
    else:
        s.append(dl[i])
print(s)
print(n)

SyntaxError: invalid syntax (<ipython-input-36-01691d832692>, line 1)

In [37]:
dd="sunil 55 65 anil abdul 78"
dl=dd.split()
n=[]
s=[]
d={}
for i in dl:
    if i.isdigit():
        n.append(i)
    else:
        s.append(i)
    
for i in range(len(s)):
         d[s[i]]=int(n[i])
print(d)

{'sunil': 55, 'anil': 65, 'abdul': 78}

In [38]:
s[0].__len__()
len(s[0])

5

In [39]:
s.__getitem__(0)

'sunil'

In [40]:
int.__add__(10,20)
int.__sub__(20,10)

10

In [41]:
for i in s.__iter__():
    print(i)

sunil
anil
abdul

In [42]:
str.__add__("a","b")

'ab'

In [43]:
int.__add__(4,5)

9

In [44]:
dir(int)

['__abs__',
 '__add__',
 '__and__',
 '__bool__',
 '__ceil__',
 '__class__',
 '__delattr__',
 '__dir__',
 '__divmod__',
 '__doc__',
 '__eq__',
 '__float__',
 '__floor__',
 '__floordiv__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__index__',
 '__init__',
 '__init_subclass__',
 '__int__',
 '__invert__',
 '__le__',
 '__lshift__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__neg__',
 '__new__',
 '__or__',
 '__pos__',
 '__pow__',
 '__radd__',
 '__rand__',
 '__rdivmod__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rfloordiv__',
 '__rlshift__',
 '__rmod__',
 '__rmul__',
 '__ror__',
 '__round__',
 '__rpow__',
 '__rrshift__',
 '__rshift__',
 '__rsub__',
 '__rtruediv__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__truediv__',
 '__trunc__',
 '__xor__',
 'bit_length',
 'conjugate',
 'denominator',
 'from_bytes',
 'imag',
 'numerator',
 'real',
 'to_bytes']

In [45]:
s

['sunil', 'anil', 'abdul']

In [46]:
s[0].__len__()

5

In [47]:
i=90
int.__mod__(91,2)

1

In [48]:
d={1:10,2:20,3:30,4:40}

In [49]:
d.pop(1)     #remove a particular element using dictionary key 
print(d)

{2: 20, 3: 30, 4: 40}

In [50]:
d.popitem()  #remove an arbitrary item
d

{2: 20, 3: 30}

In [51]:
del d[4]

KeyError: 4

In [52]:
su=0
while True:
    s=input()
    if s=="QUIT":
        break
    elif s.isalpha():
        print("invalid")
    else:   
        su=su+int(s)
print(su)

23
34
hgg
invalid
fefe
invalid
333
QUIT
390

In [54]:
#default arguments   

def add(a=10,b=5):  #If arguments or not given while calling ,it will take default args
    s=a+b
    return s
    
print(add())
print(add(9,1))

15
10

In [56]:
#Keyword arguments

def add(a,b):
    s=a+b
    return s

print(add(b=10,a=6))

16

In [80]:
s="hello world"
"length of {0} is {1}".format(s,len(s))

'length of hello world is 11'

In [79]:
d=chr(176)
d

'Â°'

In [82]:
ord('a')

97

In [83]:
chr(97)

'a'

In [84]:
s="hello"
t=s.maketrans("hel","wro")
s.translate(t)

'wrooo'

In [107]:
s[0:]

'hello'

In [138]:
   
def phone(num):
    num=str(num)
    num=num[-10:]
    print("+91" + "-"+ '('+num[0:3]+')'+ "-"+ num[3:6]  +"-"+ num[6:10])
   
          
n=int(input())
for i in range(n):
    num=input()
    phone(num)

3
+919875641230
+91-(987)-564-1230
07895462130
+91-(789)-546-2130
919876543245
+91-(987)-654-3245

In [147]:
sorted("meena")

l=[9,8,10,7]
l.sort(reverse=True)
l

[10, 9, 8, 7]

In [160]:
def myfunc(e):
    return len(e)

cars = ['Ford', 'Mitsubishi', 'dsfxcgvhbjngfv','BMW', 'VW']

cars.sort(key=myfunc)

print(cars)

['VW', 'BMW', 'Ford', 'Mitsubishi', 'dsfxcgvhbjngfv']

In [157]:
ord('A')

65

In [163]:
n="AFREEN"
ord(n[0])

65