# **Python Basics**

In [7]:
n1=1000 #single variable assignment
print(n1)

l,m,n,o=12,20,30,40 #multi variable assignment
print(l,m,n,o)

n1=1888
n1

1000
12 20 30 40

1888

# **Data Types**

* **int**
* **float**
* **String**

In [25]:
print(type(l))

s="python programming"
print(type(s))
print(len(s))   #to find length of a string

f=90.877
print(type(f))

n=9876
type(n)

<class 'int'>
<class 'str'>
18
<class 'float'>

int

In [17]:
print(int(f))  # to convert into integer
print(float(n)) #to convert into float   #here print is used bez it without print,it only prints last statement output

90
9876.0

In [16]:
str(f) # to convert into string

'90.877'

# **Arithmetic Operations**

* +
* -
* %
* *
* /
 
 **

In [22]:
y=l*m

x=y*20000
print(x)
print(type(x))

4800000
<class 'int'>

# **Conditional Statements**

In [28]:
if x>(y*100):
    print("true")
else:
    print("false")

true

In [1]:
#Even or odd
n=int(input("enter number"))
if n%2==0:
    print("even")
else:
    print("odd")

enter number34
even

In [2]:
#largest of three numbers

a=int(input("enter first number"))
b=int(input("enter second number"))
c=int(input("enter third number"))

if a>b and a>c:
    print(a , "is the largest")
elif b>c:
    print(b , "is the largest")
else:
    print(c, "is the largest")

enter first number12
enter second number34
enter third number5
34 is the largest

In [3]:
#Check if the given year is a leap year


year=int(input("enter year"))
if year%400==0 or (year%4==0 and year%100!=0):
    print(year , "is a leap year")
else:
    print(year, "is not a leap year")

enter year2450
2450 is not a leap year

In [4]:
#Check if the given number is a factor of 1000

n=int(input("enter number"))
if 1000%n==0:
    print(n , "is a factor of 1000")
else:
    print(n , "is not a factor of 1000")

enter number34
34 is not a factor of 1000

In [5]:
#Check if a number is equal to a string

number=int(input("give number: "))
string=input("enter string: " )

if string==str(number):
    print("equal")
else:
    print("not equal")

give number: 12345
enter string: python
not equal

In [6]:
#Find the square root of a given number without using sqrt()

n=int(input("enter number"))
sq=n**0.5
print(sq)

enter number64
8.0

In [7]:
#Calculate the number of nano seconds in a given  year including leap year

year=int(input("enter year"))
if year%400==0 or (year%4==0 and year%100!=0):
    nano=366*24*60*60*(10**(-9))
    print(nano)
else:
    nano=365*24*60*60*(10**(-9))
    print(nano)

enter year2019
0.031536

In [8]:
#check if the number is multiple of 10

num=int(input("enter number"))
if num%10==0:
    print(num,"is a multiple of 10")
else:
    print(num,"is not a multiple of 10")

enter number100
100 is a multiple of 10

In [9]:
#check if the number exist in the given range

num=int(input("enter number: "))
low=int(input("enter lower bound: "))
upper=int(input("enter upper bound: "))

if low<=num<=upper:
    print(num , "exists in given  range")
else:
    print(num, "does not exist in a given range")

enter number: 12
enter lower bound: 2
enter upper bound: 20
12 exists in given  range

In [10]:
#print table for a given number

n1=int(input("enter number "))
for i in range(1,11):  #range function automatically start with index o, if we dont specify start index and end index is excluded
        n4=n1*i
        print(n1,'*',i,'=',n4)

enter number 4
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40

In [11]:
#Calculator

n1=int(input("enter number1: "))
n2=int(input("enter number2: "))
op=input("enter which operation want to perform: +,-,/,*,%,**")


if op=='+':
    print(n1,'+',n2,'=',n1+n2)
elif op=='-':   
    print(n1,'-',n2,'=',n1-n2)
elif op=='*':
     print(n1,'*',n2,'=',n1*n2)
elif op=='%':
    print(n1,'%',n2,'=',n1%n2)
elif op=='/':
    print(n1,'/',n2,'=',n1/n2)
else:
    print(n1,'**',n2,'=',n1**n2)

enter number1: 12
enter number2: 34
enter which operation want to perform: +,-,/,*,%,**+
12 + 34 = 46

Day Objectives

* String slicing
* Functions in Python
* Basic Problems related to conditional statements using functions
* Python Data Structures - List,Tuples, Dictionaries
* Basic operations on data structures
* Applying Data Structures to solve problems

String Slicing

In [12]:
s1="python"
s1.count('p') #to count the character occurance in a given string
s1.find('y') #to find character and returns index
len(s1)
#s1
#s1[0:-1]   #Start index inclusive and end index exclusive
#s1[-4]  #Accessing 4th element from the end of the list
#s1[0] #Accessing the first element
#s1[1] #Accessing the second element
#s1[-1] #Accessing last element of the list
#s1[1:-1] #Accessing other than 1st and last element
#s1[-2:]   #starting from 2nd element backward to list ending 
#s1[len(s1)//2] #Accessing the middle element of the list
#s1[::-1]  #Reverse of a string
#s1[::2]  #accessing alternative elements

6

In [13]:
s="madam"
s1=s[::-1]
if s==s1:
    print("true")
else:
    print("false")

true

In [14]:
s="mynam" #Accessing middle of odd character string
s[len(s)//2]

'n'

In [15]:
#Function to reverse a string

def reverse(s): 
    r=s[::-1]
    print(r)
    
reverse("hello")

olleh

In [16]:
#Function to check palindrome

def pal(s):
    if s==s[::-1]:
        print("palindrome")
    else:
        print("not a palindrome")
        
pal("madam")

palindrome

In [17]:
#Find the number of digits count 

def count(n):
    print(len(str(n)))
count(12345)

5

In [18]:
#Greatest of 4 numbers

def largest(a,b,c,d):
    if a>b or a>c or a>d:
        return a
    elif b>c or b>d:
        return b
    elif c>d:
        return c
    else:
        return d
largest(12,345,567,9999)

9999

* Iteration
* for loop
* while loop
* for i in range(1,10): o/p : 1....9

In [30]:
#function to print natural numbers
def natural(n):
    for i in range(1,n+1):
        print(i, end=" ")
natural(20)

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20

In [20]:
n=[12,2,3,3]
n[0:5:2]

[12, 3]

In [21]:
#function to print alternative numbers in a range

def alternate(l,r):
   for i in range(l,r+1,2):
        print(i, end=" ")
alternate(20,50)

20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50

In [22]:
#function to print numbers in reverse order

def printreverse(start,end):
    for i in range(end,start-1,-1):
        print(i,end=" ")
printreverse(1,10)

10 9 8 7 6 5 4 3 2 1

In [23]:
#print odd numbers in reverse order in a given range

def odd(s,e):
    for i in range(e,s-1,-1):
        if i%2!=0:
            print(i,end=" ")
odd(10,20)

19 17 15 13 11

In [24]:
#function to calculate sum of numbers in a given range

def sum(s,e):
    s1=0
    for i in range(s,e+1):
        s1=s1+i
    return s1
sum(100,200)

15150

In [25]:
#average of numbers in a given range

def avg(s,e):
    s1=0
    c=0
    for i in range(s,e+1):
        s1=s1+i
        c=c+1
    print(s1/c)

avg(1,4)

2.5

In [26]:
#function to generate leap years in a given range

def leapy(s,e):
    for i in range(s,e+1):
        if i%400==0 or (i%4==0 and i%100!=0):
            print(i,end=" ")
        
leapy(2000,2020)

2000 2004 2008 2012 2016 2020

In [27]:
s="a"
s.islower()

True

In [32]:
#Print n natural numbers using while loop

def natural(n):
    i=1
    while i<=n:
        print(i,end=" ")
        i=i+1
natural(30)

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30

# **12th June 2019 Tasks**

In [36]:
#Function to print all numbers divisible by 6 and not a factor of 100 in a given range(lb, ub) inclusive

def func(lb,up):
    for i in range(lb,up+1):
        if i%6==0 and 100%i!=0:
            print(i,end=" ")
func(15,200)

18 24 30 36 42 48 54 60 66 72 78 84 90 96 102 108 114 120 126 132 138 144 150 156 162 168 174 180 186 192 198

In [37]:
#Function to find the average of cubes of all even numbers in a given range(lb, ub) inclusive

def avg(lb,up):
    sum=0
    count=0
    for i in range(lb,up+1):
        if i%2==0:
            sum=sum+i
            count=count+1
    print(sum/count)
avg(1,10)

6.0

In [47]:
#Function to generate the list of factors for a given number

def fac(n):
    for i in range(1,n+1):
        if n%i==0:
            print(i,end=" ")
            
            
fac(10)

1 2 5 10

In [66]:
#Function to calculate the factorial of a given number

def factorial(n):
    f=1
    for i in range(1,n+1):
        f=f*i
    print(f)
factorial(5)

120

In [16]:
#Function to check if a given number is Prime

def prime(n):
    count=0
    for i in range(2,n//2+1):  #excluding 1 and that number
        if n%i==0:
            count=count+1
    if n==1:
        print("not a prime")
    elif  count==0:
        print("prime")
    else:
        print("not a prime")
        
prime(9)

not a prime

In [11]:
# Function to generate all perfect numbers in a given range
 
       
def isperfect(num):
    sum=0
    for i in range(1,num):
        if num%i==0:
            sum=sum+i
    if num==sum:
        return True
    else:
        return False
        
        
def generateperfect(lb,up):
    for i in range(lb,up+1):
        if  isperfect(i):
            print(i,end=" ")
            
generateperfect(1,1000)

6 28 496

In [22]:
#Function to generate Multiplication table for a number in a given range
#10 in the range(100, 102) inclusive
#10 x 100 = 1000
#10 x 101 = 1010
#10 x 102 = 1020

def mul(l,r,n):
    for i in range(l,r+1):
        f=i*n
        print(n,'*',i,'=',f)
mul(100,102,10)

10 * 100 = 1000
10 * 101 = 1010
10 * 102 = 1020

In [8]:
# Function to check armstrong or not

def armstrong(n):
    s=0
    num=n
    while num!=0:
        r=num%10
        s=s+(r*r*r)
        num=num//10
    print(s)
    if s==n:
        return True
    else:
        return False
    
armstrong(371)

371

True

In [ ]:
# Function to generate N odd amstrong number in a given range  (******)

In [7]:
#Function to calculate average of all factorials in a given range (****)

def factorial(l,r):
    f=1
    s=0
    count=0
    for i in range(l,r+1):
        f=f*i
        count=count+1
        s=s+f
    print(s,count,s/count)    
            
factorial(5,7)

245 3 81.66666666666667

In [ ]:
#Function to calculate the average first N Prime numbers(****)

def prime(num):
    r=num
    flag=1
    count=0
    sum=0
    for i in range(2,r+1):
        if n==2:
            return True
        for j in range(2,n//2+1):
            if n%j==0:
                flag=0
                return False
            if flag==1: 
                sum=sum+j
                count=count+1
        print(sum/count) 
        
        
prime(10)

In [44]:
num=12
print(len(str(num)))

2

In [45]:
12//10

1