* Pandas is a high-level data manipulation tool developed by Wes McKinney.
* It is built on the Numpy package and its key data structure is called the DataFrame. 
* DataFrames allow you to store and manipulate tabular data in rows of observations and columns of variables.

In [9]:
# Reading CSV file data

dic = {"country": ["Brazil", "Russia", "India", "China", "South Africa"],
       "capital": ["Brasilia", "Moscow", "New Dehli", "Beijing", "Pretoria"],
       "area": [8.516, 17.10, 3.286, 9.597, 1.221],
       "population": [200.4, 143.5, 1252, 1357, 52.98] }

import pandas as pd
brics=pd.DataFrame(dic)
print(brics)

        country    capital    area  population
0        Brazil   Brasilia   8.516      200.40
1        Russia     Moscow  17.100      143.50
2         India  New Dehli   3.286     1252.00
3         China    Beijing   9.597     1357.00
4  South Africa   Pretoria   1.221       52.98

In [10]:
# Set the index for brics
brics.index = ["BR", "RU", "IN", "CH", "SA"]

# Print out brics with new index values
print(brics)

         country    capital    area  population
BR        Brazil   Brasilia   8.516      200.40
RU        Russia     Moscow  17.100      143.50
IN         India  New Dehli   3.286     1252.00
CH         China    Beijing   9.597     1357.00
SA  South Africa   Pretoria   1.221       52.98

In [11]:

# Reading CSV file data
import pandas as pd
filepath = 'datafiles/income.csv'
incomedf = pd.read_csv(filepath)
incomedf

,GEOID,State,2005,2006,2007,2008,2009,2010,2011,2012,2013
0,04000US01,Alabama,37150,37952,42212,44476,39980,40933,42590,43464,41381
1,04000US02,Alaska,55891,56418,62993,63989,61604,57848,57431,63648,61137
2,04000US04,Arizona,45245,46657,62993,46914,45739,46896,48621,47044,50602
3,04000US05,Arkansas,36658,37057,40795,39586,36538,38587,41302,39018,39919
4,04000US06,California,51755,55319,55734,57014,56134,54283,53367,57020,57528

In [12]:
# Combined Average Income of all states from 2005 to 2013
def income_of_all_states():
    s = 0
    c = 0
    li=[]
    for i in range(0,5):
        for j in range(2,11):
            s += incomedf.values[i][j]
            c+=1
        f=s/c
        li.append(f)
    avg=sum(li)/len(li)
    print(avg)
    
        #g=incomedf.values[i][1]
        #d[g]=f
        #print(incomedf.values[i][1],":",f)
        

income_of_all_states()

47588.67925925926

In [13]:
# function to print highest income in last 3 years
def high_avg_income_in_last_Nyears(n):
    sum = 0
    c=0
    d={}
    for i in range(0,5):
        for j in range(-1,-n-1,-1): 
            sum += incomedf.values[i][j]
            c+=1
        #print(c)
        f=sum/c
        g=incomedf.values[i][1]
        d[g]=f
    
    #print(d)
    for i in d:
        if d[i]==max(d.values()):
            print(i,":",d[i])
            #return i
high_avg_income_in_last_Nyears(3)

Alaska : 51608.5

In [14]:
def get_column_index(df,columnkey):
    columnindex=0
    for i in range(len(df.columns)):
        if df.columns[i]==columnkey:
            columnindex=i
    
    return columnindex
get_column_index(incomedf,"2007")
#print(incomedf.columns)

4

In [24]:
# State with lowest average income from 2007 to 2010(inclusive)
def lowest_avg_income_between_any2years(a,b):  # used also to print highest avg between two years
    sum = 0
    a=get_column_index(incomedf,str(a))
    b=get_column_index(incomedf,str(b))
    c=0
    d={}
    for i in range(0,5):
        for j in range(a,b+1):
            sum += incomedf.values[i][j]
            c+=1
        #print(c)
        f=sum/c
        g=incomedf.values[i][1]
        d[g]=f
    #print(d)
    for i in d:
        if d[i]==min(d.values()):
            print(i,":",d[i])
            #return i
lowest_avg_income_between_any2years(2007,2010)

Alabama : 41900.25

In [20]:
# Print the list of all states in the same line with average income less than California
def average_income_lessthan_perticularstate(a):
    sum = 0
    c=0
    d={}
    for i in range(0,5):
        for j in range(2,11):
            sum += incomedf.values[i][j]
            c+=1
        f=sum/c
        g=incomedf.values[i][1]
        d[g]=f
    a=d[a]
    for i in d:
        if d[i]<a:
            print(i,end=",")
        #print(incomedf.values[i][1],":",f)
        

income_of_all_states()
average_income_lessthan_perticularstate("California")
#incomedf

47588.67925925926
Alabama,Arkansas,

In [25]:
# function to  Print the names of states based on descending order of income in the year 2009

def descending_order_of_income(a):
    a=get_column_index(incomedf,str(a))
    d={}
    for i in range(0,5):
        b=incomedf.values[i][1]
        d[b]=incomedf.values[i][a]
    #print(d)
    l=sorted(d.values())
    for i in range(-1,-len(l)-1,-1):
        for j in d:
            if d[j]==l[i]:
                print(j,end=" ")
        
        
descending_order_of_income(2009)

Alaska California Arizona Alabama Arkansas

In [26]:
incomedf.values[0][1]
get_column_index(incomedf,"2009")
l=[1,9,3,5,3,7,9,5,]
print(sorted(l))

[1, 3, 3, 5, 5, 7, 9, 9]

In [23]:
# function to print State with the lowest recorded income from 2005 to 2013
def lowest_income_state():
    a=[]
    for row in incomedf.values:
        a.append(min(row[2:]))
    #print(min(a))
    for i in range(0,5):
        for j in range(2,11):
            if incomedf.values[i][j]==min(a):
                print(incomedf.values[i][1])
lowest_income_state()

Arkansas