In [2]:
# Function to print all combinations of pairs of integers in a unique list
# [1,2,3] -> (1,2),(1,3),(2,3) -> 3C2 -> 3!/((3-2)!*2!)

# [1,2,3,4] -> 1,2  1,3  1,4  2,3  2,4  3,4
# [1,2,3,4] -> 1,2,3  1,2,4  1,3,4  2,3,4

def combinations2(li):
    for i in range(len(li)-1):
        for j in range(i+1,len(li)):
            print(li[i],li[j])
            
li=[1,2,3,4]
combinations2(li)

1 2
1 3
1 4
2 3
2 4
3 4

In [3]:
def combin3(li):
    for i in range(len(li)-2):
        for j in range(i+1,len(li)-1):
            for k in range(j+1,len(li)):
                print(li[i],li[j],li[k])

li=[1,2,3,4,5]
combin3(li)

1 2 3
1 2 4
1 2 5
1 3 4
1 3 5
1 4 5
2 3 4
2 3 5
2 4 5
3 4 5

In [ ]:
def medium(li,k):
    while(True):
        li3 = differencePairs(li)
        if li3[0] == li3[1]:
            break
    if len(li3[0]) >= k:
        return sorted(li3[0],reverse=True)[k-1]
    return -1


# Function to identify differences of all 
#pairs of numbers and add those differences
#to the same list.
# It returns the updated list and original list

def differencePairs(li):
    cli = li[:]
    print(cli)
    newelements = []
    
    for i in range(len(li)-1):
        for j in range(i+1, len(li)):
            d = abs(int(li[i])-int(li[j]))
            if d not in li and d not in newelements:
                newelements.append(str(d))
    li.extend(newelements)
    return [cli, li]

li=[12,45]
medium(li,2)

In [ ]:
with open('DataFiles/medium-input.txt', 'r') as f:
    t = int(f.readline())
    for i in range(t):
        f.readline()
        li =  list(map(int,f.readline().split()))
        k = int(f.readline())
        print(max(li)-k+1)

In [20]:
a=[12,34,54]
b=a.copy()    # Data Copy through indirect referencing 
print(b)
b.append(100)
print(b)
print(a)

[12, 34, 54]
[12, 34, 54, 100]
[12, 34, 54]

In [24]:
a=[12,45,333,222]
b=a[:]  # Data copy through direct referencing
print(b)
b.append(1000)
print(b)
print(a)

[12, 45, 333, 222]
[12, 45, 333, 222, 1000]
[12, 45, 333, 222]

In [30]:
# List Data referencing vs Data copy

a = [1,2,3]
b= [1,3,2]
# a = b.copy() # Data Copy through indirect referencing
# a = b[:] # Data copy through direct referencing

a = b # Data Referencing  ,when ever we make changes in b it also modifies in a
print(a)

b.append(4)
print(b)
print(a)
a.append(5)
print(b)
print(a)

[1, 3, 2]
[1, 3, 2, 4]
[1, 3, 2, 4]
[1, 3, 2, 4, 5]
[1, 3, 2, 4, 5]

In [32]:
def differencePairs(li):
    c = li.copy()
    newelements = []
    for i in range(len(li)-1):
        for j in range(i+1,len(li)):
            d = abs(li[i]-li[j])
            if d not in li and d not in newelements:
                newelements.append(d)
    li.extend(newelements)
    return [c,li,newelements]
    
li = [2, 3, 6, 9, 12, 1, 4, 7, 10,5, 8, 11]
differencePairs(li)

[[2, 3, 6, 9, 12, 1, 4, 7, 10, 5, 8, 11],
 [2, 3, 6, 9, 12, 1, 4, 7, 10, 5, 8, 11],
 []]

In [36]:
def diff(li):
    newelements=[]
    for i in range(len(li)-1):
        for j in range(i+1,len(li)):
            d=abs(li[i]-li[j])
            if d not in li and d not in newelements:
                newelements.append(d)
    return newelements
        
li=[10,20,30,69]
diff(li)

[59, 49, 39]

## Set - Data Structure in Python

* Represented by '{}'

In [50]:
a={12,23,45,89}
a.add(100)       #Element is added to the starting of the set
print(a)


for i in a:             #Iteration through sets
    print(i, end =" ")
    
b={100,200,300}
c=[1,1,1,1]
 
a.update(b,c)        # Adding Multiple elements

print("\n" , a)

{100, 12, 45, 23, 89}
100 12 45 23 89
 {1, 100, 200, 12, 45, 300, 23, 89}

In [51]:
a.discard(100)    #to remove
a

{1, 12, 23, 45, 89, 200, 300}

In [61]:
s1={100,200,300,5}
s2={1,2,3,4,5}
print(sorted(s1))      #sorted elements of s1
print(s1.union(s2))         # all elements in s1&s2 
print(s1.intersection(s2))  # Common elements in s1 &s2
print(s1-s2)                # elements in s1 but not in s2
print(s2-s1)                # elements in s2 but not in s1

[5, 100, 200, 300]
{1, 2, 3, 100, 5, 4, 200, 300}
{5}
{200, 100, 300}
{1, 2, 3, 4}

In [57]:
s3={9,8,7}
s1.isdisjoint(s3)      #If one or more common elements are present, then it will return False otherwise it will return True.

True

In [62]:
a = {10,1,2,3,4,5,6}
b = {7,8,9,1,2,3}
a ^ b # Elements either in a or in b  , other than common elements

{4, 5, 6, 7, 8, 9, 10}

In [63]:
s=set()  #creates an empty set
s

set()

In [64]:
s=set([12,2,34,55])
s

{2, 12, 34, 55}

* Procedural : C

* Object Oriented : Java, Python

* Scripting : PHP, Python, Javascript, Shell, Perl

* Functional : Python, Haskell, Scala

* Logic : Prolog, Lisp


## List Comprehensions

In [71]:
# N natural numbers in a list

n=10
li=[]
for i in range(1,n+1):
    li.append(i)
print(li)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [73]:
li=[i for i in range(1,11)]
li

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [74]:
# Apply list comprehension to store the 
#cubes on n natural numbers

li=[i**3 for i in range(1,11)]
li

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [76]:
#Factorial of n natural numbers

def fac(n):
    f=1
    for i in range(1,n+1):
        f=f*i
        print(f)
          
fac(10)

1
2
6
24
120
720
5040
40320
362880
3628800

In [82]:
# factorial of a given number

def factorial(n):
    if n == 0 or n == 1:
        return 1
    return n * factorial(n-1)

factorial(5)

120

In [83]:
n=10
f= [factorial(i) for i in range(1,n+1)]
print(f)

[1, 2, 6, 24, 120, 720, 5040, 40320, 362880, 3628800]

In [89]:
# Store cumulative sum of numbers till n in a list
# n = 5 -> [1, 3, 6, 10, 15]
n = 6

n=5
cs= [sum(range(i+1)) for i in range(1,n+1)]
cs

[1, 3, 6, 10, 15]

In [101]:
# List Comprehension to store 
#only leap years in a given time period

st = 1970
et = 2019
lp=[i for i in range(st,et+1)
    if i%400==0 or (i%4==0 and i%100!=0)]
lp

[1972, 1976, 1980, 1984, 1988, 1992, 1996, 2000, 2004, 2008, 2012, 2016]

In [107]:
li=[1,2,3,4,5,6,7,3,2,1,4,5]
li.sort()
u=[]
[u.append(i) for i in li  if i not in u ]
u

[1, 2, 3, 4, 5, 6, 7]

In [108]:
sorted(li)[0]

1

Iterators
Iterable - Strings, Lists, Tuples, Sets, Dictionaries

Convert Iterable to Iterator -> iter()

For Loop:

Iterator:

In [115]:
it=iter("programming")

print(next(it))
print(next(it))

p
r

## Generators
Generator is Function

In [127]:
def gen():
    n = 2
    print(n)
    while True:
        n **= 3
        yield n

a = gen()

for i in range(5):
    print(next(a))
    
#next(a)

2
8
512
134217728
2417851639229258349412352
14134776518227074636666380005943348126619871175004951664972849610340958208

In [5]:
# A simple generator function
def my_gen():
    n = 1
    print('This is printed first')
    # Generator function contains yield statements
    yield n

    n += 1
    print('This is printed second')
    yield n

    n += 1
    print('This is printed at last')
    yield n
    

for i in my_gen():
    print(i)

This is printed first
1
This is printed second
2
This is printed at last
3