In [1]:
d={1:"mee",2:"sai",3:"gayatri"}

d.keys()

dict_keys([1, 2, 3])

In [2]:
d.values()

dict_values(['mee', 'sai', 'gayatri'])

In [3]:
d.items()

dict_items([(1, 'mee'), (2, 'sai'), (3, 'gayatri')])

In [4]:
d[4]="keerthi"

In [5]:
d

{1: 'mee', 2: 'sai', 3: 'gayatri', 4: 'keerthi'}

In [8]:
dir(d)

['__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [10]:
for k,v in d.items():
    print(v,k)

mee 1
sai 2
gayatri 3
keerthi 4

In [12]:
d.pop(1)

'mee'

In [15]:
d.popitem()

(4, 'keerthi')

In [17]:
help(d.popitem)

Help on built-in function popitem:

popitem(...) method of builtins.dict instance
    D.popitem() -> (k, v), remove and return some (key, value) pair as a
    2-tuple; but raise KeyError if D is empty.

In [22]:
d2={6:"ss",7:"tt"}

d.update(d2)

In [23]:
d

{2: 'sai', 3: 'gayatri', 6: 'ss', 7: 'tt'}

In [24]:
d.update({8:"pp"})

In [25]:
d

{2: 'sai', 3: 'gayatri', 6: 'ss', 7: 'tt', 8: 'pp'}

In [27]:
d5=d.copy()
d5

{2: 'sai', 3: 'gayatri', 6: 'ss', 7: 'tt', 8: 'pp'}

In [28]:
id(d5)

2447084930968

In [31]:
id(d)

2447084896904

In [32]:
d5.clear()

In [33]:
d5

{}

In [34]:
d5.update({9:"lll"})

In [35]:
d5

{9: 'lll'}

In [ ]:
fromkeys 
get
setdefault

In [36]:
help(d.get)

Help on built-in function get:

get(key, default=None, /) method of builtins.dict instance
    Return the value for key if key is in the dictionary, else default.

In [39]:
d5.get(9)

'lll'

In [40]:
d

{2: 'sai', 3: 'gayatri', 6: 'ss', 7: 'tt', 8: 'pp'}

In [42]:
d.get(2)

'sai'

In [43]:
help(d.fromkeys)

Help on built-in function fromkeys:

fromkeys(iterable, value=None, /) method of builtins.type instance
    Create a new dictionary with keys from iterable and values set to value.

In [45]:
dd=dict()

In [46]:
type(dd)

dict

In [47]:
type(d)

dict

In [48]:
dd

{}

In [52]:
l=[1,2,3]

l.extend([4,5])

l

[1, 2, 3, 4, 5]

In [63]:
d1=dict.fromkeys([1,2,3,4,5],"m")   #Create a new dictionary with keys from iterable and values set to value.
print(d1)

{1: 'm', 2: 'm', 3: 'm', 4: 'm', 5: 'm'}

In [64]:
help(d1.setdefault)

Help on built-in function setdefault:

setdefault(key, default=None, /) method of builtins.dict instance
    Insert key with a value of default if key is not in the dictionary.

    Return the value for key if key is in the dictionary, else default.

In [65]:
import calendar as cs

print(cs.calendar(2019))

                                  2019

      January                   February                   March
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
    1  2  3  4  5  6                   1  2  3                   1  2  3
 7  8  9 10 11 12 13       4  5  6  7  8  9 10       4  5  6  7  8  9 10
14 15 16 17 18 19 20      11 12 13 14 15 16 17      11 12 13 14 15 16 17
21 22 23 24 25 26 27      18 19 20 21 22 23 24      18 19 20 21 22 23 24
28 29 30 31               25 26 27 28               25 26 27 28 29 30 31

       April                      May                       June
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7             1  2  3  4  5                      1  2
 8  9 10 11 12 13 14       6  7  8  9 10 11 12       3  4  5  6  7  8  9
15 16 17 18 19 20 21      13 14 15 16 17 18 19      10 11 12 13 14 15 16
22 23 24 25 26 27 28      20 21 22 23 24 25 26      17 18 19 20 21 22 23
29 30                     27 28 29 30 31            24 25 26 27 28 29 30

        July                     August                  September
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7                1  2  3  4                         1
 8  9 10 11 12 13 14       5  6  7  8  9 10 11       2  3  4  5  6  7  8
15 16 17 18 19 20 21      12 13 14 15 16 17 18       9 10 11 12 13 14 15
22 23 24 25 26 27 28      19 20 21 22 23 24 25      16 17 18 19 20 21 22
29 30 31                  26 27 28 29 30 31         23 24 25 26 27 28 29
                                                    30

      October                   November                  December
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
    1  2  3  4  5  6                   1  2  3                         1
 7  8  9 10 11 12 13       4  5  6  7  8  9 10       2  3  4  5  6  7  8
14 15 16 17 18 19 20      11 12 13 14 15 16 17       9 10 11 12 13 14 15
21 22 23 24 25 26 27      18 19 20 21 22 23 24      16 17 18 19 20 21 22
28 29 30 31               25 26 27 28 29 30         23 24 25 26 27 28 29
                                                    30 31

### The setdefault() method returns the value of a key (if the key is in dictionary). 
### If not, it inserts key with a value to the dictionary.

In [72]:
person={"name":"mee","age":"24"}   #if key is in dictionary

age=person.setdefault("age")

print('person =', person)
print('age =',age)

person = {'name': 'mee', 'age': '24'}
age = 24

In [75]:
person={"name":"mee"} #if key is not  in dictionary

age=person.setdefault("age",24)

print('person =' ,person)
print('age =',age)

person = {'name': 'mee', 'age': 24}
age = 24

In [76]:
salary=person.setdefault("salary")

print("salary =", salary)
print("person =", person)

salary = None
person = {'name': 'mee', 'age': 24, 'salary': None}

In [77]:
#Datatype conversions  int,float,str,tuple,set,list,dictionary

int(90.0)

90

In [78]:
float(90)

90.0

In [79]:
str(10)

'10'

In [82]:
s=set([1,2,3])   #converting list into set
s

{1, 2, 3}

In [84]:
t=tuple(s)  #converting set into tuple
t

(1, 2, 3)

In [86]:
l=list(t)   #converting tuple into list
l

[1, 2, 3]

In [93]:
d=dict(([1,2],[3,4]))   # To convert to dictionary, each element must be a pair
d

{1: 2, 3: 4}

In [94]:
d=dict([[1,2],[3,4]])   #dict object takes only one argument

In [92]:
d

{1: 2, 3: 4}

In [99]:
n=int(input())    #fibonaci series
n1=0
n2=1
count=0
while count<n:
    print(n1)
    s=n1+n2
    n1=n2   
    n2=s
    count += 1

6
0
1
1
2
3
5

### Implicit Type Conversion:
### In Implicit type conversion, Python automatically converts one data type to another data type. This process doesn't need any user involvement. Python promotes conversion of lower datatype (integer) to higher data type to avoid data loss.

In [100]:
n=123
n2=1.23

s=n+n2

print(type(n))
print(type(n2))
print(type(s))

<class 'int'>
<class 'float'>
<class 'float'>

In [101]:
n=123      #Addition of string(higher) data type and integer(lower) datatype
n2="567"
n+n2

TypeError: unsupported operand type(s) for +: 'int' and 'str'

### Explicit Type Conversion:
### In Explicit Type Conversion, users convert the data type of an object to required data type. We use the predefined functions like int(), float(), str(), etc to perform explicit type conversion.

### This type conversion is also called typecasting because the user casts (change) the data type of the objects.

In [102]:
n=123
n2="567"
s=n+int(n2)
print(s)
print(type(s))

690

In [103]:
print(1,2,3,4,sep="*")

1*2*3*4

In [104]:
print(1,2,3,4,sep="#",end="&")

1#2#3#4&

In [107]:
x=10; y=90

print("the values of x and y  is {0}, {1}".format(x,y))

the values of x and y  is 10, 90

In [108]:
x=10; y=90

print("the values of x and y  is {}, {}".format(x,y))

the values of x and y  is 10, 90

In [109]:
# keyword arguments to format the string

print("Hello {name} ! {greetings}".format(name="John", greetings="Good morning"))

Hello John ! Good morning

In [119]:
x=12.3456789

print("the value of x is %.4f" % x)

the value of x is 12.3457

In [120]:
eval('2+3')    #evaluates expression even in string format

5

In [121]:
import math

print(math.pi)

3.141592653589793

In [122]:
from math import pi

print(pi)

3.141592653589793

In [124]:
#While importing a module, Python looks at several places defined in sys.path. It is a list of directory locations.

import sys

print(sys.path)

['C:\\Users\\APSSDC\\Desktop', 'C:\\Users\\APSSDC\\Anaconda3\\python37.zip', 'C:\\Users\\APSSDC\\Anaconda3\\DLLs', 'C:\\Users\\APSSDC\\Anaconda3\\lib', 'C:\\Users\\APSSDC\\Anaconda3', '', 'C:\\Users\\APSSDC\\Anaconda3\\lib\\site-packages', 'C:\\Users\\APSSDC\\Anaconda3\\lib\\site-packages\\win32', 'C:\\Users\\APSSDC\\Anaconda3\\lib\\site-packages\\win32\\lib', 'C:\\Users\\APSSDC\\Anaconda3\\lib\\site-packages\\Pythonwin', 'C:\\Users\\APSSDC\\Anaconda3\\lib\\site-packages\\IPython\\extensions', 'C:\\Users\\APSSDC\\.ipython']

In [125]:
10/2

5.0

In [126]:
10//2

5

In [127]:
a=10
b=10                   # here 10 is a object stored in a memory, a,b are names of the object

print(id(a))
print(id(b))
print(id(10))

140734282306656
140734282306656
140734282306656

In [128]:
a=a+1

print(id(a))
print(id(11))

140734282306688
140734282306688

In [130]:
#in python everything is object, functions are also objects

def pp():
    print("hello")
    
a=pp()

a

hello

In [131]:
l=[9,90]
print(l)

[9, 90]

In [132]:
print(3 >= 3)

True