In [9]:
n=int(input())   #Read an interger
print(n)
type(n)

123
123

int

In [8]:
st=input() #Read a string
print(st)
type(st)

amma
amma

str

In [10]:
ele=input().split()  #take input and split into elements based on space
print(ele)

1 2 3 4 5
['1', '2', '3', '4', '5']

In [13]:
ele=input().split()  #take input and split into elements based on space
print(ele)

a m ma
['a', 'm', 'ma']

In [11]:
li=list(input())  #converting given input into list of elements
print(li)

12345
['1', '2', '3', '4', '5']

In [14]:
li=list(input())  #converting given input into list of elements
print(li)

amma
['a', 'm', 'm', 'a']

In [17]:
#add data into list and accessing list elements

#firstline --> array size    --> 5
#secondline --> array elements --> 1 2 3 4 5  

#input format 1 2 3 4 5 (with spaces)

n=int(input())
l=[]
ele=input().split()  
for i in ele:
    l.append(int(i))   #split will split elements into string ,here we want integers to perform operations on list elements
print(l)

5
1 2 3 4 5
[1, 2, 3, 4, 5]

In [19]:
#add data into list and accessing individual list elements

#Input format 1401601499 (without spaces)


n=list(input())
print(n)
for i in n:
    print(i)

1401601499
['1', '4', '0', '1', '6', '0', '1', '4', '9', '9']
1
4
0
1
6
0
1
4
9
9

In [1]:
li=[12,23,46,98,788]
l2=sorted(li)
l2

[12, 23, 46, 98, 788]

In [2]:
l2[-3]

46